.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height:  100%;
}

.main {
  max-width: 700px;
  margin: auto;
  height: 100%;
  width: 90%;
  position: relative;
}

.main::before {
  content: '';
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  filter: blur(20px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, rgba(143,7,48,1) 0%, rgba(208,73,39,1) 25%, rgba(246,197,59,1) 50%, rgba(126,189,45,1) 75%, rgba(38,156,217,1) 100%);
}
.main::after {
  content: '';
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.main h3 {
  font-size: 3rem;
  text-align: center;
}

.content {
  position: relative;
  z-index: 10;
  padding: 2.5rem;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container header {
  text-align: center;
}

.logo svg {
  fill: url(#rainbow) #ffffff;
  height: 80px;
  cursor: pointer;
}

.logo span {
  display: none;
}

.title {
  color: #696969;
  font-weight: 200;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
}

.nav a {
  height: 70px;
  width: 140px;
  display: block;
  padding-top: 50px;
  text-align: center;
  font-size: .875rem;
}

.resources {
  background: transparent url('/resources.png') no-repeat top center;
}

.connect {
  background: transparent url('/connect.png') no-repeat top center;
}

.small {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.small a {
  color: #696969;
}